
<h3 class="bg-primary encabezado" ><span class="icon-file-text2"> </span>
  {{title}}
</h3>
<div class="panel panel-primary">
    <div class="panel-body transparent">
      <div class="table-responsive">
      <table id="clavemov" class="table table-condensed table-hover table-bordered" style="width:50%; margin-left:auto; margin-right: auto;"> 
      <thead  style="color: #7b7d80;">
        <tr>
        <th style="text-align:center">Clave Programa</th>
        <th style="text-align:center">Descripción</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let mclavemov of clavemov">
         <td>{{mclavemov.clave_mov}}</td>
         <td>{{mclavemov.descripcion}}</td>
        </tr>
      </tbody>
      </table>

</div>
</div>
</div>