
<h3 class="bg-primary encabezado" ><span class="icon-file-text2"> </span>
  {{title}}
</h3>
<div class="panel panel-primary">
    <div class="panel-body transparent">
      <div class="table-responsive">
      <table id="cpp" class=" display table table-condensed table-hover table-bordered" style="width:50%; margin-left:auto; margin-right: auto;">
      <thead  style="color: #7b7d80;">
        <tr>
        <th style="text-align:center">Fecha</th>
        <th style="text-align:center">Importe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cpps of cpp">
         <td>{{cpps.fecha | date:"dd/MM/yyyy" }}</td>
         <td>{{cpps.importe | currency:'USD':true:'.2'}}</td>
        </tr>
      </tbody>
      </table>

</div>
</div>
</div>