
<h3 class="bg-primary encabezado" ><span class="icon-file-text2"> </span>
  {{title}}
</h3>
<div class="panel panel-primary">
    <div class="panel-body transparent">
      <div class="table-responsive">
      <table class="table table-condensed table-hover table-bordered" style="width:50%; margin-left:auto; margin-right: auto;"> 
      <thead  style="color: #7b7d80;">
        <th style="text-align:center">Fecha</th>
        <th style="text-align:center">Importe</th>
      </thead>
      <tbody *ngFor="let msalmindf of salmindf">
        <tr>
         <td>{{msalmindf.fecha}}</td>
         <td>{{msalmindf.importe}}</td>
        </tr>
      </tbody>
      </table>

</div>
</div>
</div>