<h3 class="bg-primary encabezado" ><span class="icon-file-text2"> </span>
  {{title}}
</h3>

<div class="datos">
    <form name="form" class="form-inline"  #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !_criterio.valid }">
            <label for="criterio" class="col-md-4 control-label">Criterio:</label>
            <div class="col-md-2">
                <select name="_criterio" id="_criterio"  class="form-control" #_criterio="ngModel" [(ngModel)]="model.criterio" required >
                    <option value="undefined" selected>Selecciona un Criterio...</option>0
                    <option *ngFor="let option of optionsSelect"  value="{{option.value}}">{{option.name}}</option>
                  </select>
                <div *ngIf="f.submitted && !_criterio.valid" class="help-block">Criterio es obligatorio</div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !valor_criterio.valid }">
            <label for="valor_criterio" class="col-sm-4 control-label">Valor Criterio</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder={{_criterio.value}} name="valor_criterio" [ngModel]="model.valorcriterio | uppercase"  (ngModelChange)="model.valorcriterio = $event"  #valor_criterio="ngModel" required />
                <div *ngIf="f.submitted && !valor_criterio.valid" class="help-block">Obligatorio</div>
            </div>
            
        </div>
        <div class="form-group" style="text-align:center">
          <input type="submit" value="Buscar" class="btn btn-primary" (click)="localizaBenefMov_diversos();getClaveDiversos();getProgramas()" />
          <input type="reset" value="Borrar" class="btn btn-info">
        </div>        
    </form>
    <br>

  <div class="panel panel-primary">
    <div class="panel-heading">Generales del Beneficiario </div>
    <h3 *ngIf=miMensajeMovs><span class="label label-success">{{miMensajeMovs}}</span></h3>
        <h3 *ngIf=errorMessage><span class="label label-danger">{{errorMessage}}</span></h3>
    <div class="panel-body transparent"  *ngFor="let ben of benef_div">
      <table class="" width="100%">
        <tbody >

          <tr>
            <td width="60%"><strong>Nombre : </strong>{{ben.nombre}}</td>
            <td width="40%"><strong>Clave SEDETUS: </strong>{{ben.clave_b}}</td>
          </tr>

          <tr>
            <td><strong>CURP: </strong>{{ben.curp}}</td>
            <td><strong>Contrato: </strong>{{ben.numcontrato}} <strong> Fecha: </strong>{{ben.nombre}}</td>
          </tr>

          <tr>
            <td><strong>Clave Elec: </strong>{{ben.clave_elect}}</td>
            <td><strong>Inicio de pagos: </strong>{{ben.fecha_con}}</td>
          </tr>

          <tr>
            <td><strong>Dirección : </strong></td>
            <td><strong>Poliza: </strong><strong >Fecha: </strong>{{ben.fecha}}</td>
          </tr>

          <tr>
            <td><strong>Manzana : </strong>{{ben.mza}}<strong> Lote: </strong>{{ben.lte}}</td>
            <td><strong>Clave Cat: </strong></td>
          </tr>

          <tr>
            <td><strong>Conyuge  : </strong>{{ben.conyuge}}</td>
            <td><strong>Área: </strong> m2 <strong> Plazo: </strong>{{ben.plazo}}</td>
          </tr>

        </tbody>
      </table>
      <div [hidden]="!miMensajeerrorMovs" >
          <form  class="form-inline" #f3="ngForm" novalidate>
          <div class="form-group" style="text-align:center">
            <input routerLink="/new_ben_div" type="submit" value="Nuevo Usuario" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading">Movimientos del Estado de Cuenta del Beneficiario en Diversos</div>
      <div class="panel-body transparent">
        <div class="table-responsive">
          <table class="table table-condensed table-hover table-bordered">
          <thead style="color: #7b7d80;">
            <th>Fecha Diversos</th>
            <th>Mov.</th>
            <th>Descripcion</th>
            <th>Recibo</th>
            <th>Serie</th>
            <th>Cargo</th>
            <th>Abono</th>
            <th>Moratorios</th>
            <th>Aprobado</th>
          </thead>

          <tbody *ngFor="let mov of mov_diversos">
            <td>{{mov.fecha_div}}</td>
            <td>{{mov.clave_div}}</td>
            <td>{{mov.descripcion}}</td>
            <td>{{mov.recibo}}</td>
            <td>{{mov.serie}}</td>
            <td>{{mov.cargo}}</td>
            <td>{{mov.abono}}</td>
            <td>{{mov.moratorios}}</td>
            <td>
                <div *ngIf="mov.aplicado;then conaplicado else sinaplicado"></div>

                <ng-template #conaplicado><span  [ngClass]="aplicado" [style.font-size]="10+'px'" [style.color]="'#3fb7fe'" title="Movimiento aplicado"></span></ng-template>
                <ng-template #sinaplicado> <span  [ngClass]="noaplicado" [style.font-size]="10+'px'" [style.color]="'#3fb7fe'" title="Movimiento no aplicado"></span></ng-template>

            </td>
          </tbody>
        </table>
        
       </div>
      </div>

      <div [hidden]="!miMensajeMovs" >
        <div class="form-group" [ngClass]="{ 'has-error': f3.submitted }" >
          <label for="clvDiv" class="col-md-4 control-label">¿Clave Diversos? </label>
          <tbody>
            <select name="claveDiversos" id="claveDiversos" class="form-control" #claveDiversos="ngModel" [(ngModel)]="model.claveDiversos">
                <option value="undefined" selected >Selecciona una Clave Diversa</option>
                <option *ngFor="let div of clavediv" value="{{div.id_clave_div}}" >{{div.descripcion}}</option>
              </select>
          </tbody>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f3.submitted }" >
          <label for="claveCorrient" class="col-md-4 control-label">¿Cuenta Corriente? o ¿Programa? </label>
          <tbody>
            <select name="claveCorriente" id="claveCorriente" class="form-control" #claveCorriente="ngModel" [(ngModel)]="model.claveCorriente">
                <option value="undefined" selected >Selecciona una Cuenta Corriente o Programa </option>
                <option *ngFor="let prog of programas " value="{{prog.id_bonific}}" >{{prog.clave}} ({{prog.descripcion}})</option>
              </select>
          </tbody>
        </div>
        <div class="form-group" >
          <label for="" class="col-md-4 control-label">¿Descripcion del cobro? </label>
          <input type="textarea" name="clv_descripcion">
        </div>

        <div class="form-group" >
        <label for="" class="col-md-4 control-label">Importe del Pago </label>
        <input type="" name="clv_importe">
      </div>
      <div class="form-group" >
        <label for="" class="col-md-4 control-label">Intereses de Moratorios </label>
        <input type="" name="clv_intereses">
      </div>
      <div class="form-group" >
        <label for="" class="col-md-4 control-label">Otros Importes </label>
        <input type="" name="clv_otros">
      </div>

      </div>

      <!-- Pendiente de habilitar
        <confirm></confirm>
      -->
      

        <form [hidden]="!miMensajeAplicaBonsSi" class="form-inline" #f3="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f3.submitted }" >
          <label for="tipoBonific" class="col-md-4 control-label">Tipo de Bonificaciones</label>
            <tbody >
              <select name="tipobonificacion" id="tipobonificacion" class="form-control" #tipobonificacion="ngModel" [(ngModel)]="model.tipobonificacion">
                <option value="undefined" selected >Selecciona un tipo de bonificacion</option>
                <option *ngFor="let bon of bonificaciones " value="{{bon.id_bonific}}" >{{bon.descripcion}}</option>
              </select>
            </tbody>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f3.submitted }">
          <label for="moratorios" class="col-md-4 control-label">Total de moratorios</label>
          <input type="number" name="moratorios" class="form-control"  id="moratorios" [(ngModel)]="totalmoratorios" #moratorios="ngModel" step="0.01" min="1" max="{{totalmoratorios}}" required>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f3.submitted }" >
          <label for="autoriza" class="col-md-4 control-label">¿Quien autoriza?</label>
            <tbody >
              <select name="autoriza" id="autoriza" class="form-control"
              #qautoriza="ngModel" [(ngModel)]="model.qautoriza">
                <option value="undefined" selected >Selecciona quien autoriza</option>
                <option *ngFor="let aut of autoriza " value="{{aut.id_autoriza}}" >{{aut.nombre}}</option>
              </select>
            </tbody>
          </div>
        </form>
        <form  class="form-inline" #f3="ngForm" novalidate>
          <div *ngIf=miMensajeAplicaBonsSi class="form-group" style="text-align:center">

            <input type="submit" value="Pagar s/b" class="btn btn-primary"  />
          </div>
          <div *ngIf=miMensajeAplicaBonsSi class="form-group" style="text-align:center">
            <input type="submit" value="Pagar c/b" class="btn btn-primary" />

          </div>
        </form>
      
    </div>  

    <div class="panel panel-primary">
      <div class="panel-heading" > Bonificaciones del Beneficiario</div>
      <div class="panel-body transparent">
        <div class="table-responsive">
        
       </div>
      </div>
      
    </div>
  
      
  </div>
