
<div class="table-responsive">
    <!--<div class="encabezado2" ><span class="fa fa-money"></span>{{title}}</div>-->
    
  <table class="table table-condensed table-hover table-bordered">
  	<thead  style="color: #7b7d80;">
      <tr style="font-size: 12px;font-stretch: condensed;" *ngIf=bonific_div>
        <th width="">Clave B.</th>
        <th width="">Capital</th>
        <th width="">Interés</th>
        <th width="">Admon</th>
        <th width="">Seguro</th>
        <th width="">Otros S.</th>
        <th width="">Estatus</th>
        <th width="">Recibo</th>
        <th width="">Serie</th>
        <th width="">Autoriza</th>
      </tr>  


    </thead>

   <tbody>
  
      <tr style="font-size: 10px" *ngFor="let bon of bonific_div; let i = index"  [ngSwitch]="validaUltimoBon(i)">
        <td *ngSwitchCase="false" [ngClass]="renglon_style">{{bon.clavebonific}}</td>
        <td *ngSwitchCase="false" [ngClass]="renglon_style" style="text-align: right">{{bon.imp_cap | currency:'MXN':true:'.2'}}</td>
        <td *ngSwitchCase="false" [ngClass]="renglon_style" style="text-align: right">{{bon.imp_int | currency:'MXN':true:'.2'}}</td>
        <td *ngSwitchCase="false" [ngClass]="renglon_style" style="text-align: right">{{bon.imp_adm | currency:'MXN':true:'.2'}}</td>
        <td *ngSwitchCase="false" [ngClass]="renglon_style" style="text-align: right">{{bon.imp_seg | currency:'MXN':true:'.2'}}</td>
        <td *ngSwitchCase="false" [ngClass]="renglon_style" style="text-align: right">{{bon.imp_osg | currency:'MXN':true:'.2'}}</td>
        <td *ngSwitchCase="false" [ngClass]="renglon_style" style="text-align: center">{{bon.estatus}}</td>
        <td *ngSwitchCase="false" [ngClass]="renglon_style" style="text-align: right">{{bon.recibo}}</td>
        <td *ngSwitchCase="false" [ngClass]="renglon_style" style="text-align: center">{{bon.serie}}</td>
        <td *ngSwitchCase="false" [ngClass]="renglon_style" >{{bon.nombreautoriza}}</td>

        <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px"><strong>{{bon.clavebonific}}</strong></td>
        <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px; text-align: right"><strong>{{bon.imp_cap | currency:'MXN':true:'.2'}}</strong></td>
        <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px; text-align: right"><strong>{{bon.imp_int | currency:'MXN':true:'.2'}}</strong></td>
        <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px; text-align: right"><strong>{{bon.imp_adm | currency:'MXN':true:'.2'}}</strong></td>
        <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px; text-align: right"><strong>{{bon.imp_seg | currency:'MXN':true:'.2'}}</strong></td>
        <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px; text-align: right"><strong>{{bon.imp_osg | currency:'MXN':true:'.2'}}</strong></td>
        <td *ngSwitchCase="true" [ngClass]="totales_style" style="text-align: center"><strong>{{bon.estatus}}</strong></td>
        <td *ngSwitchCase="true" [ngClass]="totales_style" style="text-align: right"><strong>{{bon.recibo}}</strong></td>
        <td *ngSwitchCase="true" [ngClass]="totales_style" style="text-align: center"><strong>{{bon.serie}}</strong></td>
        <td *ngSwitchCase="true" [ngClass]="totales_style" ><strong>{{bon.nombreautoriza}}</strong></td>
        
      </tr>

  	</tbody>
  </table>
  <!--<p>{{valorcriterio}}</p>
  <p>{{criterio}}</p>-->
</div>