
<div class="table-responsive" style="background-color:transparent;">
    <!--<div class="encabezado2" ><span class="fa fa-money"></span>{{title}}</div>-->
  <table class="table table-condensed table-hover">
  	<thead  style="color: #7b7d80;">
      <tr style="font-size: 12px;font-stretch: condensed;">
        <th width="">Capital</th>
        <th width="">Interés</th>
        <th width="">Admon</th>
        <th width="">Seguro</th>
        <th width="">Otros S.</th>
        <th width="">Estatus</th>
        <th width="">Clave B.</th>
        <th width="">Recibo</th>
        <th width="">Serie</th>
        <th width="">Autoriza</th>
      </tr>  


  	</thead>
  	<tbody *ngFor="let bon of bonific_div">
  		<tr style="font-size: 12px;font-stretch: condensed;color:#000;">
        <td width="">{{bon.imp_cap}}</td>
  			<td width="">{{bon.imp_int}}</td>
        <td width="">{{bon.imp_adm}}</td>
        <td width="">{{bon.imp_seg}}</td>
        <td width="">{{bon.imp_osg}}</td>
        <td width="">{{bon.estatus}}</td>
        <td width="">{{bon.clavebonific}}</td>
        <td width="">{{bon.recibo}}</td>
        <td width="">{{bon.serie}}</td>
        <td width="">{{bon.nombreautoriza}}</td>
  		</tr>
  	</tbody>
  </table>
  <!--<p>{{valorcriterio}}</p>
  <p>{{criterio}}</p>-->
</div>