<div class="table-responsive ">

  <table class="table table-condensed table-hover table-bordered">
  	<thead  style="color: #7b7d80;">
  		<th >Clave</th>
      <th >Estatus</th>
      <th >Imp Cap</th>
      <th >Imp Adm</th>
      <th >Imp Int</th>
      <th >Imp Osg</th>
      <th >Imp Seg</th>
      <th >Imp Com</th>
      <th >Imp Mor</th>
      <th >Imp Tit</th>
      <th width="10%">Autoriza</th>
      <th >Recibo</th>
      <th >Serie</th>
  	</thead>
  	<tbody >
        <tr style="font-size: 10px" *ngFor="let bon of bonific">
  			<td >{{bon.clavebonific}}</td>
        <td >{{bon.estatus}}</td>
        <td style="text-align:right;">{{bon.imp_cap | currency:'USD':true:'.2'}}</td>
        <td style="text-align:right;">{{bon.imp_adm | currency:'USD':true:'.2'}}</td>
        <td style="text-align:right;">{{bon.imp_int | currency:'USD':true:'.2'}}</td>
        <td style="text-align:right;">{{bon.imp_osg | currency:'USD':true:'.2'}}</td>
        <td style="text-align:right;">{{bon.imp_seg | currency:'USD':true:'.2'}}</td>
        <td style="text-align:right;">{{bon.imp_com | currency:'USD':true:'.2'}}</td>
        <td style="text-align:right;">{{bon.imp_mor | currency:'USD':true:'.2'}}</td>
        <td style="text-align:right;">{{bon.imp_tit | currency:'USD':true:'.2'}}</td>
        <td >{{bon.nombreautoriza}}</td>
        <td >{{bon.recibo}}</td>
        <td >{{bon.serie}}</td>
  		</tr>
  	</tbody>
  </table>

</div>