
<h3 class="bg-primary encabezado" ><span class="icon-file-text2"> </span>
  {{title}}
</h3>
<br>
<form name="form" class="form-inline"  #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !criterio.valid }">
            <label for="criterio" class="col-md-4 control-label">Criterio Búsqueda</label>
            <div class="col-md-2">
                <select name="criterio" id="criterio" class="form-control" #criterio="ngModel" [(ngModel)]="model.criterio" required>
                  <option value="clave_b" selected="selected">Clave SEDETUS</option>
                  <option value="nombre" >Nombre de Beneficiario</option>
                </select>

                <div *ngIf="f.submitted && !criterio.valid" class="help-block">Criterio es obligatorio</div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !valorcriterio.valid }">
            <label for="password" class="col-sm-4 control-label">Valor Criterio</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="valorcriterio" [(ngModel)]="model.valorcriterio" #valorcriterio="ngModel" required />
                <div *ngIf="f.submitted && !valorcriterio.valid" class="help-block">Valor Criterio es obligatorio</div>
            </div>
        </div>
        <div class="form-group" style="text-align:center">
            <input type="submit" value="Aceptar" class="btn btn-primary" (click)="localizaBenefMov()" />

        </div>
</form>
<br>

<div class="datos">
  <div *ngFor="let ben of benef"  >
  	<div><strong>Nombre: </strong>{{ben.nombre}}</div>
    <div><strong>Clave SEDETUS: </strong>{{ben.clave_b}}</div>
    <div><strong>Dirección: </strong>{{ben.domicilio}}</div>
    <div><strong>Curp: </strong>{{ben.curp}}</div>
    <div><strong>Numero Contrato: </strong>{{ben.numcontrato}}</div>
    <div><strong>ID: </strong>{{ben.id_beneficiario}}</div>

  </div>


<div class="table-responsive listado ">
  <h3 *ngIf=miMensajeMovs><span class="label label-success">{{miMensajeMovs}}</span></h3>
  <table class="table table-condensed table-hover">
  	<thead  style="color: #7b7d80;">
  		<th width="20%">Clave SEDETUS</th>
  		<th width="20%">Fecha Mov.</th>
      <th width="20%">Clave de Mov..</th>
  		<th width="20%">Capital</th>

  		<th width="20%">Acciones</th>
  	</thead>
  	<tbody *ngFor="let mov of mov_edoscta">
  		<tr>
  			<td width="20%">{{mov.clave_b}}</td>
  			<td width="20%">{{mov.fecha_mov}}</td>
        <td width="20%">{{mov.clave_mov}}</td>
  			<td width="20%">{{mov.capital}}</td>
  			<td width="20%">
					<img src="../assets/img/reporte_adjuntos.png" width="26px" height="26px" (click)="onSelect(seguimiento)" title="Ver archivos adjuntos">
					<a><img src="../assets/img/upload.png" width="26x" height="26px" (click)="onSelect2(seguimiento)" title="Adjuntar archivos" ></a>
				</td>
  		</tr>
  	</tbody>
  </table>
  <br>
<form name="form" class="form-inline"  #f2="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !fecha_corte.valid }">
            <label for="fecha_corte" class="col-md-4 control-label">Fecha de Corte</label>
            <div class="col-md-6">
                <input type="date" name="fecha_corte" id="fecha_corte" class="form-control"  [(ngModel)]="model.fecha_corte" #fecha_corte="ngModel" value="fechaActual()" required>
                <div *ngIf="f2.submitted && !fecha_corte.valid" class="help-block">Fecha de Corte es obligatorio</div>

            </div>
        </div>

        <div class="form-group" style="text-align:center">
          <input type="submit" value="Aceptar" class="btn btn-primary" (click)="bonificacion.getBonificaciones()" />
        </div>
</form>
</div>



<h3 *ngIf=miMensajeBons><span class="label label-success">{{miMensajeBons}}</span></h3>
<app-bonific  [fecha_corte]=model.fecha_corte [criterio]=model.criterio [valorcriterio]=model.valorcriterio #bonificacion (onMessage)="onMessage($event)" ></app-bonific>

<script>
  function fechaActual(){
    f=new Date();    var mes=(f.getMonth() +1);    var dia=(f.getDate());

    if ((f.getMonth() +1)<10){ //Si el mes es menor a 2 digitos, antemoner un cero al mes
        mes="0"+(f.getMonth() +1);
    }
    if (f.getDate()<10){ //Si el dia es menor a 2 digitos, antemoner un cero al dia
        dia="0"+(f.getDate());
    }
   var fecha=(f.getFullYear()+ "-"+ mes+ "-" +dia); //Concatenar los valores para formar una fecha simple
   return fecha; //Devolver el valor de fecha simple
   //document.getElementById('fecha_r').value=fecha;
}//Fin de


/*inicializando campo tipo date a la fecha del dia*/
document.getElementById('fecha_corte').value=fechaActual();
</script>

