<div class="table-responsive ">

  <table class="table table-condensed table-hover table-bordered">
    <thead  style="color: #7b7d80;">
      <th >Fecha</th>
      <th >Letra</th>
      <th >Capital</th>
      <th >Interes</th>
      <th >Seguro</th>
      <th >Admon</th>
      <th >Otros Seg</th>
      <th >Comisiones</th>
      <th >Titulacion</th>
      <th >Moratorios</th>
      <th> Total</th>

    </thead>
    <tbody>
        <tr style="font-size: 10px" *ngFor="let venc of vencidos; let i = index"  [ngSwitch]="valida_ultimo(i)" >


            <td *ngSwitchCase="false" [ngClass]="renglon_style"  > {{venc.fecha}}</td>
            <td *ngSwitchCase="false" [ngClass]="renglon_style"  >{{venc.letra }}</td>
            <td *ngSwitchCase="false" [ngClass]="renglon_style"  style="text-align: right;">{{venc.capital | currency:'MXN':true:'.2'}}</td>
            <td *ngSwitchCase="false" [ngClass]="renglon_style"  style="text-align: right;">{{venc.interes | currency:'MXN':true:'.2'}}</td>
            <td *ngSwitchCase="false" [ngClass]="renglon_style" style="text-align: right;" >{{venc.seguro | currency:'MXN':true:'.2'}}</td>
            <td *ngSwitchCase="false" [ngClass]="renglon_style"  style="text-align: right;">{{venc.admon | currency:'MXN':true:'.2'}}</td>
            <td *ngSwitchCase="false" [ngClass]="renglon_style" style="text-align: right;">{{venc.oseg | currency:'MXN':true:'.2'}}</td>
            <td *ngSwitchCase="false" [ngClass]="renglon_style"  style="text-align: right;">{{venc.com | currency:'MXN':true:'.2'}}</td>
            <td *ngSwitchCase="false" [ngClass]="renglon_style"  style="text-align: right;">{{venc.tit | currency:'MXN':true:'.2'}}</td>
            <td *ngSwitchCase="false" [ngClass]="renglon_style" style="text-align: right;">{{venc.mor | currency:'MXN':true:'.2'}}</td>
            <td *ngSwitchCase="false" [ngClass]="renglon_style" style="text-align: right;"><strong>{{venc.total | currency:'MXN':true:'.2'}}</strong></td>

            <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px" ><strong>{{venc.fecha}}</strong> </td>
            <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px" ><strong>{{venc.letra }}</strong></td>
            <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px; text-align: right;" ><strong>{{venc.capital | currency:'MXN':true:'.2'}}</strong></td>
            <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px; text-align: right;" ><strong>{{venc.interes | currency:'MXN':true:'.2'}}</strong></td>
            <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px; text-align: right;" ><strong>{{venc.seguro | currency:'MXN':true:'.2'}}</strong></td>
            <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px; text-align: right;"  ><strong>{{venc.admon | currency:'MXN':true:'.2'}}</strong></td>
            <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px; text-align: right;"><strong>{{venc.oseg | currency:'MXN':true:'.2'}}</strong></td>
            <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px; text-align: right;" ><strong>{{venc.com | currency:'MXN':true:'.2'}}</strong></td>
            <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px; text-align: right;" ><strong>{{venc.tit | currency:'MXN':true:'.2'}}</strong></td>
            <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px; text-align: right;"><strong>{{venc.mor | currency:'MXN':true:'.2'}}</strong></td>
            <td *ngSwitchCase="true" [ngClass]="totales_style" style="font-size: 13px; text-align: right;"><strong>{{venc.total | currency:'MXN':true:'.2'}}</strong></td>


      </tr>
    </tbody>
  </table>
