<div class="table-responsive ">

  <table class="table table-condensed table-hover table-bordered">
    <thead  style="color: #7b7d80;">
      <th >Fecha</th>
      <th >Letra</th>
      <th >Capital</th>
      <th >Interes</th>
      <th >Seguro</th>
      <th >Admon</th>
      <th >Otros Seg</th>
      <th >Comisiones</th>
      <th >Titulacion</th>
      <th >Moratorios</th>
      <th> Total</th>

    </thead>
    <tbody>
        <tr style="font-size: 10px" *ngFor="let venc of vencidos">
        <td >{{venc.fecha}}</td>
        <td style="text-align: right" >{{venc.letra }}</td>
        <td style="text-align: right" >{{venc.capital | currency:'USD':true:'.2'}}</td>
        <td style="text-align: right" >{{venc.interes | currency:'USD':true:'.2'}}</td>
        <td style="text-align: right" >{{venc.seguro | currency:'USD':true:'.2'}}</td>
        <td style="text-align: right" >{{venc.admon | currency:'USD':true:'.2'}}</td>
        <td style="text-align: right">{{venc.oseg | currency:'USD':true:'.2'}}</td>
        <td style="text-align: right">{{venc.com | currency:'USD':true:'.2'}}</td>
        <td style="text-align: right">{{venc.tit | currency:'USD':true:'.2'}}</td>
        <td style="text-align: right">{{venc.mor | currency:'USD':true:'.2'}}</td>
        <td style="text-align: right">{{venc.total | currency:'USD':true:'.2'}}</td>
      </tr>
    </tbody>
  </table>
